<div class="container-fluid p-4">
  <!-- breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/projects">Projects</a></li>
      <li class="breadcrumb-item active" aria-current="page">Board</li>
    </ol>
  </nav>

  <h2>Project Board</h2>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback ps-2"></span>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>

  <!-- cards todos -->
  <div cdkDropListGroup>
    <div class="row mt-1">
      <!-- todo -->
      <div class="col-md-3 me-2 rounded px-1 py-3 example-container" style="background-color: #f4f5f7">
        <small class="text-muted fw-bold ps-3">TODO ({{todoData.length}})</small>
        <div class="cardDiv example-list" cdkDropList [cdkDropListData]="todoData" (cdkDropListDropped)="drop($event)">
          <mat-card class="example-card py-2 mx-auto mt-2  " *ngFor="let todo of todoData" cdkDrag>
            <!-- <mat-card-header> -->
            <div class="row">
              <div class="col-md-9">
                <mat-card-content (click)="editTodo(todo.id)">{{todo.description}}</mat-card-content>
              </div>
              <div class="col-md-3">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item disabled>
                    <span>ACTIONS</span>
                  </button>
                  <button (click)="deleteTask(todo.id)" mat-menu-item>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <!-- </mat-card-header> -->
          </mat-card>
        </div>

        <div class="w-100 mt-1 p-1">
          <button (click)="openPopup('')" class="btn createDiv w-100 text-start"><i class="fa-solid fa-plus"></i> Create
            issue</button>
        </div>
      </div>

      <!-- in progress -->
      <div class="col-md-3 me-2 rounded px-1 py-3 example-container" style="background-color: #f4f5f7">
        <small class="text-muted fw-bold ps-3">IN PROGRESS ({{inProgressData.length}})</small>
        <div class="cardDiv example-list" cdkDropList [cdkDropListData]="inProgressData"
          (cdkDropListDropped)="drop($event)">
          <mat-card class="example-card py-2 mx-auto mt-2" *ngFor="let todo of inProgressData" cdkDrag>
            <!-- <mat-card-header> -->
            <div class="row">
              <div class="col-md-9">
                <mat-card-content (click)="editInProgressTodo(todo.id)">{{todo.description}}</mat-card-content>
              </div>
              <div class="col-md-3">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item disabled>
                    <span>ACTIONS</span>
                  </button>
                  <button (click)="deleteInProgressTask(todo.id)" mat-menu-item>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <!-- </mat-card-header> -->
          </mat-card>
        </div>

        <div class="w-100 mt-1 p-1">
          <button (click)="openInProgressPopup('')" class="btn createDiv w-100 text-start"><i
              class="fa-solid fa-plus"></i> Create
            issue</button>
        </div>
      </div>

      <!--done-->
      <div class="col-md-3 me-2 rounded px-1 py-3 example-container" style="background-color: #f4f5f7">
        <small class="text-muted fw-bold ps-3">DONE ({{doneData.length}}) <i
            class="text-success ms-2 fa-solid fa-check"></i></small>
        <div class="cardDiv example-list" cdkDropList [cdkDropListData]="doneData" (cdkDropListDropped)="drop($event)">
          <mat-card class="example-card py-2 mx-auto mt-2 " *ngFor="let todo of doneData" cdkDrag>
            <!-- <mat-card-header> -->
            <div class="row">
              <div class="col-md-9">
                <mat-card-content (click)="editDoneTodo(todo.id)">{{todo.description}}</mat-card-content>
              </div>
              <div class="col-md-3">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item disabled>
                    <span>ACTIONS</span>
                  </button>
                  <button (click)="deleteDoneTask(todo.id)" mat-menu-item>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <!-- </mat-card-header> -->
          </mat-card>
        </div>

        <div class="w-100 mt-1 p-1">
          <button (click)="openDonePopup('')" class="btn createDiv w-100 text-start"><i class="fa-solid fa-plus"></i>
            Create
            issue</button>
        </div>
      </div>

    </div>
  </div>




  <!-- todos end-->

</div>