.has-search .form-control {
  padding-left: 2rem;
  width: 12rem;
}

.has-search .form-control:hover {
  background-color: rgb(230, 227, 227);
}

.has-search .form-control-feedback {
  position: absolute;
  /* padding-left: 5px; */
  z-index: 2;
  /* display: block; */
  width: 1.2rem;
  height: 2rem;
  line-height: 1.8rem;

  pointer-events: none;
  color: #aaa;
}

.col {
  background-color: #f4f5f7;
}

/* ::ng-deep .mat-icon-button {
  position: absolute;
  top: 10px;
  left: 330px;
} */

.example-card {
  width: 350px;
  cursor: move;
}

.createDiv {
  color: #534e6f;
  width: 350px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.createDiv:hover {
  background-color: #dad9d9;
}

.formField {
  border: none;
  outline: 0;
}

.cardDiv {
  cursor: pointer;
}

.mat-card-content {
  min-width: 0;
  overflow-wrap: break-word;
}
/* .example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
} */
/* .example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
} */

/* .example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
} */

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}